use flake

if [ -f .env ]; then
  source .env
fi

export AGE_KEY_FILE="${AGE_KEY_FILE:-$HOME/.age/personal.key}"
export SOPS_AGE_KEY_FILE="$AGE_KEY_FILE"

if [ -f "$AGE_KEY_FILE" ]; then
  ./scripts/decrypt.sh
fi
